@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <img src="~/joelPic.jpg" width="500" />
</div>

<div>
    <a asp-controller="Home" asp-action="MovieList">View Movie List</a>
</div>