<h1>Get to know Joel Hilton</h1>
<a href="https://www.qwcomedy.com/">Quick Wits</a>
<br />
<a href="https://baconsale.com/">Baconsale Site</a>
<br />
<a href="https://baconsale.com/">
    <img src="~/Baconsale.jpg" width="500" />
</a>
<p>Baconsale Squad</p>